* {
  color: black;
}

.header {
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;

}

.logo > * {
  vertical-align: top;
}

.logo {
  flex-grow: 3;
  flex-shrink: 1;
}

.logo span {
  color: MediumAquamarine;
  padding: 20px 10px;
  display: inline-block;
}


.header nav span {
  display: inline-block;
  padding: 20px 10px;
  align-self: flex-end;
  flex-grow: 1;
  flex-shrink: 3;
}

.main-container {
  margin-top: 50px;
  display: flex;
}

.column.large {
  width: 630px;
  margin-top: 35px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.column.medium {
  width: 300px;
  margin-top: 35px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;

}

.column.small {
  width: 240px;
  margin-top: 35px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.article {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  flex-shrink: 1;
  flex-grow: 1;
  padding: 10px;

}

.main-article {
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.sm-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: stretch;

}


.teaser-text {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  align-self: center;

}

h2 {
  font-family: Georgia, sans-serif;
  font-size: 30px;
  color: black;
}

.article-text {
  font-family: Georgia, sans-serif;
  font-size: 17px;
  color: black;
}

.mainstory {
  font-size: 40px;

}

.news-bite-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.news-bite {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.bite {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana, serif;
  font-size: 12px;
  color: DimGray;
  padding: 10px 20px;
}

.footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

}

.company-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.company {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 18px;
  display: inline-block;
}

.footer nav span {
  display: inline-block;
  padding: 2px 10px;
  /* align-self: flex-end;
  flex-grow: 1;
  flex-shrink: 3; */

}


.copyright {
  padding-top: 20px;
  align-self: center;

}

#mainstory-img {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 600px;

}

#fall-img {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  background-repeat: no-repeat;
  height: 300px;
  justify-content: center;

}

#camera-img {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  background-repeat: no-repeat;
  height: 300px;
  justify-content: center;


}

#cat-img {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  background-repeat: no-repeat;
  height: 300px;
  justify-content: center;

}

#cookie-img {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png);
  background-repeat: no-repeat;
  width: 240px;
  height: 240px;
  flex-shrink: 1;
}
